.main {
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-2),
    var(--color-beige-1) 50%
  );
}
////////////////////////
/// INTRODUCTION

.introduction {
  margin: 10rem 35rem;
  font-family: "Josefin Slab", serif;
  font-size: 3.5rem;
  font-weight: 500;
  @include media-query(tab-land) {
    margin: 10rem 25rem;
  }
  @include media-query(tab-port) {
    margin: 10rem 20rem;
  }
  @include media-query(tab-small) {
    margin: 10rem 10rem;
  }
  @include media-query(phone) {
    margin: 8rem 5rem;
  }
  &__text {
    line-height: 6rem;
    text-align: justify;
    &-h3,
    &-h4 {
      text-align: center;
      line-height: 3rem;
    }
  }
}
//////////////////////////
/// SKILLS
.skills {
  &__container {
    margin: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10rem;
    &__figure {
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      &:nth-child(1) {
        animation: skills-animation 1s 1s forwards;
      }
      &:nth-child(2) {
        animation: skills-animation 1s 1.5s forwards;
      }
      &:nth-child(3) {
        animation: skills-animation 1s 2s forwards;
      }
      &:nth-child(4) {
        animation: skills-animation 1s 2.5s forwards;
      }
      &:nth-child(5) {
        animation: skills-animation 1s 3s forwards;
      }
      &:nth-child(6) {
        animation: skills-animation 1s 3.5s forwards;
      }
      &:nth-child(7) {
        animation: skills-animation 1s 4s forwards;
      }
      &:nth-child(8) {
        animation: skills-animation 1s 4.5s forwards;
      }
      &-photo {
        height: 8rem;
        @include media-query(phone) {
          height: 6rem;
        }
      }
      &-description {
        margin-top: 2rem;
        text-align: center;
        color: var(--color-grey-5);
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        text-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }
    @include media-query(tab-land) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include media-query(tab-port) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @include media-query(phone) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 8rem;
      margin: 5rem 0 0 0;
    }
  }
}
