.footer {
  box-sizing: border-box;
  height: 15rem;
  padding-bottom: 2rem;
  background-color: var(--color-grey-3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    " logo . copy"
    ". social .";

  &__logo {
    grid-area: logo;
    height: 10rem;
    display: flex;
    justify-content: right;
    align-items: center;
    &-image {
      height: 6rem;
      @include media-query(tab-port) {
        height: 5rem;
      }
    }
  }
  &__social-media {
    grid-area: social;
    display: flex;
    justify-content: center;
  }
  &__copyright {
    font-size: 1.4rem;
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-right: 5rem;
  }
}
/////////////////
/// icons
.fa-brands {
  color: black;
  font-size: 3rem;
  margin-right: 2rem;
}
