////////////////////////////
/// PROJECTS

.projects {
  margin: 5rem 10rem;
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(4, 1fr);
  @include media-query(tab-land) {
    margin: 5rem 10rem;
  }
  @include media-query(tab-port) {
    grid-template-columns: repeat(1, 1fr);
    margin: 5rem 10rem;
  }
  @include media-query(phone) {
    margin: 5rem 5rem;
  }
  &__container {
    position: relative;
    padding: 1rem;
    background-color: var(--color-grey-4);
    grid-column: span 2;

    &.odd-items {
      grid-column: 2/4;
      @include media-query(tab-port) {
        grid-column: 1/2;
      }
    }
    &-image {
      width: 100%;
      filter: blur(2px);
      opacity: 0.8;
      &.opacity {
        opacity: 1;
      }
    }
    &-link {
      text-decoration: none;
      color: #fff;
      padding: 0.7rem;
      border-radius: 10px;
      background-color: var(--color-grey-2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      opacity: 0;
      visibility: hidden;

      &.visible {
        opacity: 1;
        visibility: visible;
        animation: pulsate 2s infinite;
      }
    }
    &-caption {
      height: 5rem;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    &-description {
      text-align: center;
      color: #fff;
      margin-top: 0;
    }
  }
}
