@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&display=swap";
@keyframes skills-animation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100rem);
  }

  80% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1)translate(-50%, -50%);
  }

  50% {
    transform: scale(1.05)translate(-50%, -50%);
  }

  100% {
    transform: scale(1)translate(-50%, -50%);
  }
}

.heading {
  color: var(--color-grey-5);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.animate {
  animation: 1s skills-animation;
}

.margin-medium {
  margin: 4rem;
}

.margin-top-medium {
  margin-top: 4rem;
}

.padding-medium {
  padding: 4rem;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-grey-4)), color-stop(70%, var(--color-grey-3)), to(var(--color-grey-2)));
  background-image: linear-gradient(to bottom, var(--color-grey-4), var(--color-grey-3) 70%, var(--color-grey-2));
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 2.5rem;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (width <= 74.99em) {
  .header {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-height: 8rem;
  }
}

.header__logo {
  align-items: center;
  margin-left: 5rem;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (width <= 74.99em) {
  .header__logo {
    margin-left: 1rem;
  }
}

.header__logo-photo {
  width: 8rem;
  height: 8rem;
}

@media only screen and (width <= 74.99em) {
  .header__logo-photo {
    width: 6rem;
    height: 6rem;
  }
}

.header__author {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .header__author {
    margin-left: 6rem;
    font-size: 2rem;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 22.43em) {
  .header__author {
    margin-left: auto;
    font-size: 2rem;
  }
}

.header__author-photo {
  clip-path: circle(40% at 50% 45%);
  width: 8rem;
  margin-top: auto;
}

@media only screen and (width <= 74.99em) {
  .header__author-photo {
    width: 6rem;
  }
}

.header__author-name {
  text-transform: uppercase;
  margin: 0 3rem;
  display: inline-block;
}

.header__nav {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%;
  margin-top: -4rem;
  padding-left: 10rem;
  transition: all .4s;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (width >= 75em) {
  .header__nav.sticky {
    z-index: 100;
    background-color: #c8c8c8e6;
    width: 100%;
    padding-left: 10rem;
    position: fixed;
    top: 4rem;
    left: 0;
  }
}

.header__menu {
  justify-content: space-around;
  width: 50%;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-items {
  margin-bottom: 1rem;
  list-style: none;
}

.header__menu-links {
  color: #000;
  text-transform: uppercase;
  z-index: 2000;
  border-radius: 5px;
  padding: .8rem 1.3rem;
  text-decoration: none;
  transition: all .4s;
  display: inline-block;
  box-shadow: 1rem 1rem .8rem #00000008;
}

.header__menu-links:hover {
  background-color: var(--color-grey-3);
  transform: scale(1.1);
}

@media only screen and (width <= 74.99em) {
  .header__nav {
    background-color: var(--color-beige-1);
    transition: all .3s;
    position: fixed;
    top: -100rem;
    right: 0;
  }

  .header__nav.open {
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
  }

  .header__menu {
    border: 1px solid var(--color-beige-5);
    border-radius: 5px;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu-items {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu-items:first-child {
    border-top: 1px solid var(--color-beige-5);
    margin-top: 8rem;
  }

  .header__menu-items:not(:last-child) {
    border-bottom: 1px solid var(--color-beige-5);
  }

  .header__menu-links {
    text-align: center;
    color: var(--color-beige-5);
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    font-size: 2.5rem;
    box-shadow: 0 0;
  }

  .header__menu-links:hover {
    background-color: var(--color-beige-1);
    transform: scale(1);
  }
}

.hamburger-menu {
  display: none;
}

@media only screen and (width <= 74.99em) {
  .hamburger-menu {
    cursor: pointer;
    z-index: 200;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: -ms-flexbox;
    display: flex;
  }

  .hamburger-menu__item {
    background-color: #000;
    width: 80%;
    height: .3rem;
    transition: all .4s;
    position: relative;
  }

  .hamburger-menu__item:before {
    content: "";
    background-color: #000;
    width: 100%;
    height: .3rem;
    margin-top: -1rem;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger-menu__item:after {
    content: "";
    background-color: #000;
    width: 100%;
    height: .3rem;
    margin-top: 1rem;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger-menu.open .hamburger-menu__item {
    background-color: #0000;
  }

  .hamburger-menu.open .hamburger-menu__item:before {
    background-color: var(--color-beige-5);
    margin-top: 0;
    transform: rotate(135deg);
  }

  .hamburger-menu.open .hamburger-menu__item:after {
    background-color: var(--color-beige-5);
    margin-top: 0;
    transform: rotate(-135deg);
  }
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-grey-2)), color-stop(60%, var(--color-beige-1)));
  background-image: linear-gradient(to bottom, var(--color-grey-2), var(--color-beige-1) 60%);
}

.introduction {
  margin: 10rem 35rem;
  font-family: Josefin Slab, serif;
  font-size: 3.5rem;
  font-weight: 500;
}

@media only screen and (width <= 74.99em) {
  .introduction {
    margin: 10rem 25rem;
  }
}

@media only screen and (width <= 62.5em) {
  .introduction {
    margin: 10rem 20rem;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 46.87em) {
  .introduction {
    margin: 10rem;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .introduction {
    margin: 8rem 5rem;
    font-size: 3rem;
  }
}

.introduction__text {
  line-height: 6rem;
}

.introduction__text-h3, .introduction__text-h4 {
  text-align: center;
  line-height: 3rem;
}

.introduction__text-paragraph {
  text-align: center;
}

.skills__container {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
  gap: 10rem;
  margin: 10rem;
  display: grid;
}

.skills__container__figure {
  opacity: 0;
  visibility: hidden;
  -ms-flex-direction: column;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.skills__container__figure:first-child {
  animation: 1s 1s forwards skills-animation;
}

.skills__container__figure:nth-child(2) {
  animation: 1s 1.5s forwards skills-animation;
}

.skills__container__figure:nth-child(3) {
  animation: 1s 2s forwards skills-animation;
}

.skills__container__figure:nth-child(4) {
  animation: 1s 2.5s forwards skills-animation;
}

.skills__container__figure:nth-child(5) {
  animation: 1s 3s forwards skills-animation;
}

.skills__container__figure:nth-child(6) {
  animation: 1s 3.5s forwards skills-animation;
}

.skills__container__figure:nth-child(7) {
  animation: 1s 4s forwards skills-animation;
}

.skills__container__figure:nth-child(8) {
  animation: 1s 4.5s forwards skills-animation;
}

.skills__container__figure-photo {
  height: 8rem;
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .skills__container__figure-photo {
    height: 6rem;
  }
}

.skills__container__figure-description {
  text-align: center;
  color: var(--color-grey-5);
  text-transform: uppercase;
  text-shadow: 0 0 .5rem #0003;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

@media only screen and (width <= 74.99em) {
  .skills__container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (width <= 62.5em) {
  .skills__container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .skills__container {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 1rem;
    margin: 5rem;
  }
}

.projects {
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
  margin: 5rem 10rem;
  display: grid;
}

@media only screen and (width <= 74.99em) {
  .projects {
    margin: 5rem 10rem;
  }
}

@media only screen and (width <= 62.5em) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    margin: 5rem 10rem;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .projects {
    margin: 5rem;
  }
}

.projects__container {
  background-color: var(--color-grey-4);
  grid-column: span 2;
  padding: 1rem;
  position: relative;
}

.projects__container.odd-items {
  grid-column: 2 / 4;
}

@media only screen and (width <= 62.5em) {
  .projects__container.odd-items {
    grid-column: 1 / 2;
  }
}

.projects__container-image {
  filter: blur(2px);
  opacity: .8;
  width: 100%;
}

.projects__container-image.opacity {
  opacity: 1;
}

.projects__container-link {
  color: #fff;
  background-color: var(--color-grey-2);
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: .7rem;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects__container-link.visible {
  opacity: 1;
  visibility: visible;
  animation: 2s infinite pulsate;
}

.projects__container-caption {
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  height: 5rem;
  display: -ms-flexbox;
  display: flex;
}

.about_me {
  background-color: var(--color-beige-1);
  padding-top: 5rem;
  padding-bottom: 10rem;
  transition: all .4s;
}

.about_me.hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.about_me__container {
  clip-path: polygon(0% 100%, 10% 0, 100% 0, 90% 100%);
  background-color: var(--color-beige-4);
  padding: 5rem 25rem;
  font-size: 2.5rem;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (width <= 74.99em) {
  .about_me__container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (width <= 62.5em) {
  .about_me__container {
    padding: 5rem 15rem;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  .about_me__container {
    clip-path: none;
    padding: 5rem;
  }
}

.about_me__container-left {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.about_me__container-left-author-photo {
  clip-path: circle(45%);
  height: 15rem;
}

.about_me__container-left-author-name {
  text-align: center;
  text-transform: uppercase;
}

.about_me__container-right {
  text-align: justify;
  -ms-flex: 1;
  flex: 1;
  margin-left: 5rem;
}

@media only screen and (width <= 74.99em) {
  .about_me__container-right {
    margin: 0;
  }
}

.footer {
  box-sizing: border-box;
  background-color: var(--color-grey-3);
  grid-template: "logo . copy" 1fr
                 ". social ." 1fr
                 / 1fr 1fr 1fr;
  height: 15rem;
  padding-bottom: 2rem;
  display: grid;
}

.footer__logo {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  grid-area: logo;
  justify-content: right;
  align-items: center;
  height: 10rem;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo-image {
  height: 6rem;
}

@media only screen and (width <= 62.5em) {
  .footer__logo-image {
    height: 5rem;
  }
}

.footer__social-media {
  grid-area: social;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright {
  align-items: center;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
  grid-area: copy;
  margin-right: 5rem;
  font-size: 1.4rem;
  display: -ms-flexbox;
  display: flex;
}

.fa-brands {
  color: #000;
  margin-right: 2rem;
  font-size: 3rem;
}

:root {
  --color-blue-1: #e0ffff;
  --color-blue-2: #87cefa;
  --color-blue-3: #87ceeb;
  --color-blue-4: #00bfff;
  --color-blue-5: #1e90ff;
  --color-orange-1: #ffe6cc;
  --color-orange-2: #ffb366;
  --color-orange-3: #ff8000;
  --color-orange-4: #e65c00;
  --color-orange-5: #cc5200;
  --color-green-1: #d3fcd5;
  --color-green-2: #8cf08c;
  --color-green-3: #27b841a7;
  --color-green-4: #2c7a37;
  --color-green-5: #1e4d22;
  --color-grey-1: #f5f5f5;
  --color-grey-2: #dcdcdc;
  --color-grey-3: #b0b0b0;
  --color-grey-4: #6e6e6e;
  --color-grey-5: #333;
  --color-lilla-1: #e6e6fa;
  --color-lilla-2: plum;
  --color-lilla-3: #f5e6e8;
  --color-lilla-4: #e0b0ff;
  --color-lilla-5: #e9d3ff;
  --color-crema-1: #fff8dc;
  --color-crema-2: #fdf5e6;
  --color-crema-3: #fff5e1;
  --color-crema-4: #faf3e0;
  --color-crema-5: #fffacd;
  --color-beige-1: beige;
  --color-beige-2: linen;
  --color-beige-3: khaki;
  --color-beige-4: tan;
  --color-beige-5: #c2b280;
}

html {
  font-size: 62.5%;
}

@media only screen and (width <= 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 37.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (pointer: coarse) and (hover: none) and (width <= 22.43em) {
  html {
    font-size: 37.5%;
  }
}

body {
  background-color: var(--color-grey-2);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
}

body.no-scroll {
  position: fixed;
  overflow: hidden;
}

footer {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.btn-page-up {
  background-color: var(--color-beige-5);
  border: 2px solid var(--color-beige-1);
  color: var(--color-beige-1);
  cursor: pointer;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  transition: all .1s;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.btn-page-up:hover {
  border: 3px solid var(--color-beige-3);
  color: var(--color-beige-3);
}

@media only screen and (width <= 62.5em) {
  .btn-page-up:hover {
    border: 2px solid var(--color-beige-1);
    color: var(--color-beige-1);
  }
}
/*# sourceMappingURL=index.css.map */
